<ion-content class="ion-padding ion-justify-content-center ion-align-items-center">

  <ion-item color="dark">
    <ion-label>Temps Restant</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>
  <circle-progress (click)="starTimer()" [percent]="percent" [maxPercent]="100" [radius]="radius"
    [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
    [animationDuration]="300" [backgroundStroke]="'#33003f'" [backgroundStrokeWidth]="3" [outerStrokeColor]="'#8000FF'"
    [outerStrokeGradientStopColor]="'#FF00CB'" [showSubtitle]="false" [showTitle]="false" [showUnits]="false"
    [animation]="false" [showInnerStroke]="false"></circle-progress>

  <p>{{ elapseTime.hour }}: {{ elapseTime.minutes }}: {{ elapseTime.secondes}} </p>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running" >
      <ion-fab-button (click)="starTimer()" >
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running >
      <ion-fab-button (click)="stopTimer()">
      <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>

</ion-content>